@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
    user-select: none;
}
nav{
    border-bottom: 1px solid #FFDD00;
}
nav,section{
    background-color: #003366;
    color: #FFDD00;
}
nav h1{
    cursor: pointer;
}
@media screen and (min-width: 0px) and (max-width: 550px){
    section h1{
        font-size: 3rem !important;
    }
    section{
        padding: 5px !important;
    }
}

/* Add this to your CSS file */

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    flex-basis: calc(33.33% - 20px);
    margin: 10px;
  }
  
  @media (max-width: 768px) {
    .card {
      flex-basis: calc(50% - 20px);
    }
  }
  
  @media (max-width: 480px) {
    .card {
      flex-basis: 100%;
    }
  }